@charset "UTF-8";

/* 共通部分 */
html{
    font-size: 100%;
}
body{
    font-family: sans-serif;/*ゴシック体*/
    line-height: 1.5;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 4%;
}

.big-bg{
    background-size: cover;
    background-position: center top;
}

/* ボディタイトルのプロパティ定義 */
.main-title{
    text-align: center;
    font-size: 2rem;
}

/* ヘッダー部分 */
.page-header{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    /* border-bottom: 1px orangered solid; */
}

.page-header .logo{
    width: 200px;
    height: auto;
}
.tosho{
    width: 65px;
    height: auto;
    margin-left: 20px;
}

.main-nav{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.main-nav li{
    list-style: none;
    margin-left: 40px;
}

.main-nav a{
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
}

/* これ以降にもボタンが出現する */
.button{
    /* background-color: #ff9900; */
    background:linear-gradient(orangered, #ff9900);
    padding: 15px 40px;
    border-radius: 15px;
    color: #fff;
    font-weight: normal;
}
/* ボタンにカーソルを合わせたら文字の透過率を下げる */
a span:hover{
    opacity: 0.5;;
}

/* colorはこちらで定義しないと上書きされない（優先度・詳細度の関係） */
.main-nav .button{
    color: #fff;
}

.border1{
    height: 1px;
    background-color: orangered;
    border: none;
}

.page-header h1 a:hover{
    opacity: 0.5;
}

/* フッター */
.sub-footer{
    background-color: black;
    color: #fff;
    padding: 30px 0;
}
.footer-content{
    display: flex;
    justify-content: space-between;
}
.footer-link{
    display: flex;
    justify-content: space-between;
}
.footer-link li{
    list-style: none;
    margin-left: 30px;
}
.footer-link a{
    color: #fff;
}

.main-footer .logo{
    width: 200px;
    height: auto;
}

.main-footer{
    padding: 30px 0;
    text-align: center;
}
.footer-list{
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
}
.footer-list li{
    list-style: none;
    font-weight: bold;
    margin-left: 10px;
}
.footer-list a{
    color: #000000;
}
.footer-list a:hover{
    opacity: 0.5;
}

.main-footer h1 a:hover{
    opacity: 0.5;
}

/* ヘッドライン１ */
#headline-1{
    background-image: url(../images/bg_main_pc.jpg);
}

.headline-1-content{
    padding: 30px 0 150px;
}

.headline-1-title{
    color:red;
    font-size: 2rem;
}
.company-explanation{
    margin-top: 30px;
    font-size: 1.5rem;
}

.headline-1-content .logo{
    margin-top: 15px;
}

.headline-1-content .button{
    font-size: 1.3rem;
}
.headline-1-content p{
    margin-top: 30px;
}

/* LeadCloudの特徴 */
#feature{
    padding: 70px 0 100px;
}
.wave{
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}
.feature-grid{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
}
.feature-grid .item{
    text-align: center;
    font-weight: bold;
}
.item span{
    color: red;
}

/* 主な機能一覧 */
#function{
    background: #EEEEEE;
    padding: 70px 0 100px;
}

.function-content .flex{
    display: flex;
    justify-content: flex-start;
}

.icon-title{
    padding-top: 35px;
}

.function-grid{
    margin-top:70px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.function-grid .item{
    padding: 20px;
}
/* 下三角 
参考：https://note.spiqa.design/1581/*/
.triangle {
    position: relative;
}

.triangle:after {
content: "";
position: absolute;
top: 100%;
right:calc(50% - 60px);
box-sizing: border-box;
border-right: 60px solid transparent;
border-left: 60px solid transparent;
border-top: 30px solid #fff;
}

/* 大きいダウンロードボタン */
/* 背景の色をグラデーションにしながら、画像も設定する方法がわかりませんでした。
backgroundプロパティで背景色のグラデーションと画像を同時に設定することができなかった
background-colorではグラデーションを指定できないので、同時に設定するしかなさそう。
他の方法として、postionプロパティを用いて、電卓の画像を背景に取り込むのではなく、要素として配置することを考えたが
ボタンと重なった時に見栄えが良くなく断念
*/

/* #download-button{
    background:url('../images/bg_download.png');
    background-repeat:no-repeat;
    background-position: top 30px left 800px;
    background-color:orange;
    padding-top: 30px;
}

#download-button .button{
    background: #EEEEEE;
    color: red;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 30px 80px;
}

#download-button .big-button{
    text-align: center;
    padding: 100px 0;
}

#download-button a:hover{
    opacity: 0.5;
} */

#download-button{
    background:linear-gradient(orangered, #ff9900);
    /* height: 500px; */
    padding: 30px 0;
    overflow: hidden;
}

.download-area{
    position: relative;
}
#download-button .button{
    background: #EEEEEE;
    color: red;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 30px 80px;
}

#download-button .big-button{
    text-align: center;
    padding: 100px 0;
    /* position: absolute;
    top: 50%;
    left: 50%; */
    z-index: 80;
    position: relative;
}

.download-area .document-img{
    margin-left: 600px;
    position: absolute;
    z-index: 70;
    top: 30px;
}

#download-button a:hover{
    opacity: 0.5;
}

/* .denzo{
    width: 400px;
    height: auto;
} */

/* .document-img{
    position: absolute;
    top:50%;
    left: 50%;
    opacity: 0.5;

    padding-right: 100px;
} */

/* お悩み */
/* #featureとほぼ同じなのでまとめても良いかもしれない */
#trouble{
    padding: 70px 0 100px;
}
.trouble-grid{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px, 1fr));
}
.trouble-grid .item{
    text-align: center;
    font-weight: bold;
}
.main-title span{
    color: red;
}

/* 導入効果 */
/* 画像の位置を指定して、その後positionプロパティでテキストボックスの位置をしてすれば良いか？ */
#effect{
    padding: 70px 0 100px;
    height: 1720px;/*大きい背景画像の縦の大きさにした*/
    background-image: url('../images/bg_effect.png');
    /* 小さい画像は背景画像の上に載っていたので、以下は誤り */
    /* background: url('../images/bg_effect.png'),
                url('../images/pic_effect_1.png') top 200px left 75% no-repeat,
                url('../images/pic_effect_2.png') top 640px left 25% no-repeat,
                url('../images/pic_effect_3.png') top 1080px left 75% no-repeat; */
}

/* 画像をmarginで配置するとスマホ画面になると右側に飛び出てしまうので、
レスポンシブ対応の時に困る。よって、paddingでやった方が良さそう */
.effect-1-img{
    padding: 80px 0 0 40%;
}
.effect-2-img{
    padding: 100px 40% 0 0 ;
}
.effect-3-img{
    padding: 100px 0 0 40%;
}
.effect-1,
.effect-2,
.effect-3{
    position: relative;
}

.effect-text-1,
.effect-text-2,
.effect-text-3{
    background-color: #fff;
    max-width: 550px;
    padding: 30px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
    position: absolute;
    top: 200px;
}

.effect-text-2{
    left: 50%;
}

.introduction-effect header{
    color: red;
    font-weight: bold;
    font-size: 1.2rem;
}
.effect-title{
    padding: 20px 0;
}

/* ご利用料金 */
#fee{
    background: #EEEEEE;
    padding: 70px 0 100px;
    position: relative;
}
/* .fee-content{
    position: relative;
} */

.fee-info .grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
}
.fee-info{
    /* background: linear-gradient(#ff6600, #ff9900); */
    background: linear-gradient(orangered, #ff9900);
    padding: 50px;
    border-radius: 20px;
    margin: 50px 0;
}
.first-fee,
.monthly-fee{
    text-align: center;
    background: #fff;
    padding: 50px;
    border-radius: 20px;
    margin: 30px
}
.fee-info p{
    font-size: 2rem;
    font-weight: bold;
}
.fee-info span{
    color: orangered;
    font-size: 5rem;
}
.fee-info .normal{
    font-size:1rem;
}
.normal span{
    font-size:1rem;
}

.fee-info h3{
    font-size: 3rem;
}

.fee-button{
    text-align: center;
}

.fee-button p{
    color: #ffffff;
    font-size: 1rem;
    padding-top: 50px;
}

.fee-info .button{
    background: #EEEEEE;
    color: orangered;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 20px 60px;
}

.price-img{
    position: absolute;
    bottom: 60px;
    right: 100px;
}
/* よくある質問 */
#question{
    padding: 70px 0 100px;
}

.question-grid{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 30px;
}
.question-grid .item{
    background-color: #EEEEEE;
    padding: 30px 50px;
}
.question-grid .item span{
    font-size: 3rem;
}
.question-grid .item p{
    padding: 20px 0 0 50px;
}

@media screen and (min-width:600px){
    .hamburger-menu,
    .fixed-button{
        display: none;
    }
}

/* ヘッドライン1*/
#headline-2{
    background:linear-gradient(orangered, #ff9900);
}

.headline-2-content{
    color: #ffffff;
    text-align: center;
    padding: 30px;
}

.headline-2-content h2{
    font-size: 2.5rem;
}

.headline-2-content p{
    font-weight: bold;
    padding-top: 30px;
}

/* ダウンロードページ 
------------------------------------------------------------------*/
.apply{
    background-color: #EEEEEE;
    padding: 50px 0;
}
.apply input[type="text"]{
    background-color: #ffffff;
    border: 1px silver solid;
    border-radius: 5px;
    padding: 10px;
}

.apply label{
    font-size: 1rem;
    font-weight: bold;
}

/* afterを用いて必須の文字を入れてみる */
.apply .need::after{
    content: "　必須";
    font-size: 0.7rem;
    color: red;
}

/* 以下セレクトボックスの設定
参考：https://pote-chil.com/html-maker/selectbox/ */
.apply .selectbox{
    position: relative;
}

.apply .selectbox::after {
    position: absolute;
    content: '';
    /* point-eventsよくわからない
    https://developer.mozilla.org/ja/docs/Web/CSS/pointer-events */
    pointer-events: none;
}

/* afterは下矢印 */
.apply .selectbox::after {
    position: absolute;/*なぜここでもう一度定義？*/
    top: 80%;
    right: 1.4em;
    transform: translate(50%, -50%) rotate(45deg);
    width: 12px;
    height: 12px;
    border-bottom: 2px solid silver;
    border-right: 2px solid silver;
    content: '';
}

.apply .selectbox select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    min-width: 230px;
    height: 2.8em;
    padding: .4em 3.6em .4em .8em;
    border: 1px solid silver;
    border-radius: 5px;
    color: #333333;
    font-size: 1em;
    cursor: pointer;
    /* 追加 */
    background-color: #ffffff;
}

/*focusとは擬似クラスのことで要素をクリックしたりした時の挙動？ 
https://developer.mozilla.org/ja/docs/Web/CSS/:focus */
/* #download-apply .selectbox select:focus {
    outline: 1px solid silver;
} */

.apply-form{
    margin: 30px 10px 30px 0px;
}

.name-form{
    display: flex;
    justify-content: space-between;
}
.apply-content .small-form{
    margin: 10px 10px;
}
.apply-content .small-form input{
    width: 100%;
}

.apply-content .big-form{
    margin: 30px 10px;
}
.apply-content .big-form input,
.apply-content .big-form select{
    width: 100%;
}

.apply-content select{
    font-weight: normal;
}

.apply-form .button{
    width: 100%;
}
.apply-form a{
    color: #ff9900;
    text-decoration: underline;
    font-size: 1rem;
}

.apply-form .privacy-link{
    text-align: center;
    margin: 20px;
}

.phone-num .phone{
    background-color: #ffffff;
    border-radius: 3px;
    text-align: center;
    margin-top: 30px;
    line-height: 2;
    padding: 20px 0;
    border: 1px silver solid;
}

.phone-num h2{
    color: red;
    font-size: 2.5rem;
}

.apply .two-columns{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

/* お問い合わせページ 
ダウンロードページとほぼ体裁が同じなのでクラス名をapplyに統一している*/
#inquiry-apply .inquiry-comment{
    text-align: center;
}
.apply-form textarea{
    background-color: #ffffff;
    border: 1px silver solid;
    border-radius: 3px;
    width: 100%;
}
#inquiry-apply .apply-content{
    padding: 10px 20%;
}

/* モバイル版 */
@media (max-width: 600px) {

    /* ヘッダーの設定 */
    .main-title{
        font-size: 2.5rem;
    }
    .page-header{
        margin: 10px 0;
        width: 100%;
    }

    .page-header .logo{
        width: 120px;
        height: auto;
        padding-top: 10px;
    }

    .page-header .main-nav{
        display: none;
    }

    .tosho{
        margin-left: 0;
    }
    /* ヘッダーのハンバーガーボタン
    モバイル版の時のみ使用 */
    /* ボタンを実装 */
    .menu-btn {
        position: relative;
        top: 0px;
        right: 0px;
        display: flex;
        height: 60px;
        width: 60px;
        justify-content: center;
        align-items: center;
        z-index: 90;
        background-color: #ffffff;
    }
    /* 下はおそらく三本線の設定 */
    .menu-btn span,
    .menu-btn span:before,
    .menu-btn span:after {
        content: '';
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        background-color: orangered;
        position: absolute;
    }
    .menu-btn span:before {
        bottom: 8px;
    }
    .menu-btn span:after {
        top: 8px;
    }

    /* ボタンがタップされた時三本線を「×」マークにする */
    #menu-btn-check:checked ~ .menu-btn span {
        background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
    }
    /* 二本のせんでバツマークを作成するのか */
    #menu-btn-check:checked ~ .menu-btn span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    #menu-btn-check:checked ~ .menu-btn span::after {
        top: 0;
        transform: rotate(-45deg);
    }
    /* チェックボックスを隠す */
    #menu-btn-check {
        display: none;
    }

    /* メニュー部分を実装 */
    #menu-content {
        width: 100%;
        height: 30%;
        position: fixed;
        top: 75px;/*headerの高さ＋横線の高さ+少し*/
        left: 0;
        z-index: 80;
        background-color: #ffffff;
    }
    #menu-content ul {
        padding: 70px 10px 0;
        text-align: center;
    }
    #menu-content ul li {
        list-style: none;
        font-weight: bold;
    }
    #menu-content ul li a {
        display: block;
        width: 100%;
        font-size: 15px;
        box-sizing: border-box;
        color:black;
        text-decoration: none;
        padding: 9px 15px 10px 0;
        position: relative;
    }
    #menu-content ul li a::before {
        content: "";
        width: 7px;
        height: 7px;
        border-top: solid 2px #ffffff;
        border-right: solid 2px #ffffff;
        transform: rotate(45deg);
        position: absolute;
        right: 11px;
        top: 16px;
    }
    /* メニューの開閉を記述 */
    #menu-content {
        width: 100%;
        height: 30%;
        position: fixed;
        top: 75px;/*headerの高さ＋横線の高さ+少し*/
        left: 100%;/*leftの値を変更してメニューを画面外へ*/
        z-index: 80;
        background-color: #ffffff;
        transition: all 0.5s;/*アニメーション設定*/
    }
    #menu-btn-check:checked ~ #menu-content {
        left: 0;/*メニューを画面内へ*/
    }
    /* 以上 */

    /* ヘッドライン1 */
    .headline-1-content{
        padding: 10px 0 30px;
    }

    .headline-1-title{
        font-size: 1rem;
    }
    .company-explanation{
        font-size: 0.8rem;
    }
    #headline-1 .logo{
        display: none;
    }
    #headline-1 {
        background-image: url("../mobile-images/bg_main_sp.jpg");
        height: 600px;
    }
    #headline-1 .button{
        font-size: 1rem;
    }

    /* LeadCloudの特徴 */
    .feature-grid{
        gap: 50px;
    }

    /* 主な機能一覧 */
    .function-grid{
        margin-top:70px;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
    }

    .function-grid{
        gap: 50px;
    }

    /* 大きいダウンロードボタン
    #download-button{
        background-position: top 10px left 300px;
        padding-top: 30px;
        background-size: 50%;
    } */
    #download-button .button{
        font-size: 1rem;
    }
    #download-button .big-button{
        padding: 50px 0;
    }
    .download-area .document-img{
        margin-left: 300px;
        top: 30px;
    }

    /* お悩み */
    #trouble .main-title{
        font-size: 1.7rem;
    }
    .trouble-grid{
        gap: 50px;
    }

    /* 導入効果 */
    #effect{
        height: 1200px;
    }

    #effect .main-title{
        font-size: 2.1rem;
    }
    #effect img{
        display: none;
    }

    #effcect .introduction-effect{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
    }

    .effect-text-1,
    .effect-text-2,
    .effect-text-3{
        position: relative;
        top: 0;
        margin-top: 30px;
    }


    .effect-text-2{
        left: 0%;
    }

    /* 料金 */
    fee-info{
        /* background: linear-gradient(#ff6600, #ff9900); */
        padding: 10px;
    }

    .first-fee,
    .monthly-fee{
        padding: 20px;
        margin: 10px
    }

    .fee-button p{
        font-size: 0.9rem;
        padding-top: 20px;
    }
    
    .fee-info .button{
        background: #EEEEEE;
        color: orangered;
        font-weight: bold;
        font-size: 1rem;
        padding: 10px 30px;
    }
    
    .price-img{
        display: none;
    }
    
    .fee-info h3{
        font-size: 1.5rem;
    }
    
    /* フッター */
    .footer-list{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .footer-list li{
        margin: 10px 30px;
    }

    .footer-list{
        padding: 30px 20px;
    }
    .main-footer{
        padding-bottom: 10px;
    }

    .footer-content{
        flex-flow: column;
    }
    .footer-link{
        flex-flow: column;
    }
    .footer-link li{
        margin-left: 0px;
    }
    .sub-footer{
        padding: 10px 0 100px 0;
    }
    /* ボタンがないページは上書き */
    .not-button{
        padding: 10px 0 10px 0;
    }

    /* 固定ボタン設定 */
    .fixed-button{
        background:rgba(0,0,0,0.5);
        /* opacity: 0.2; */
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        height: 10vh;
    }

    .fixed-button .d-button{
        padding-top: 20px;
    }

    .fixed-button .button{
        /* background-color: #ff9900; */
        background:linear-gradient(orangered, #ff9900);
        padding: 15px 40px;
        border-radius: 15px;
        color: #fff;
        font-weight: normal;
    }
    .fixed-button .d-button{
        font-size: 2rem;
    }
    /* ダウンロードページ */
    #headline-2 .headline-2-title{
        font-size: 2rem;
    }
    .apply .two-columns{
        flex-flow: column;
        gap: 30px;
    }
    #headline-2 p{
        font-size: 0.9rem;
    }

    /* お問い合わせページ */
    .inquiry-comment{
        font-size: 0.9rem;
    }
    #inquiry-apply .apply-content{
        padding: 0px;
        margin: 10px;
    }
}
