@charset "UTF-8";

/* 共通部分 */
html{
    font-size: 100%;
}
body{
    font-family: sans-serif;/*ゴシック体*/
    line-height: 1.5;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 4%;
}

.big-bg{
    background-size: cover;
    background-position: center top;
}

/* ボディタイトルのプロパティ定義 */
.main-title{
    text-align: center;
    font-size: 2rem;
}

/* ヘッダー部分 */
.page-header{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    /* border-bottom: 1px orangered solid; */
}

.page-header .logo{
    width: 200px;
    height: auto;
}
.tosho{
    width: 65px;
    height: auto;
    margin-left: 20px;
}

.main-nav{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.main-nav li{
    list-style: none;
    margin-left: 40px;
}

.main-nav a{
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
}

/* これ以降にもボタンが出現する */
.button{
    /* background-color: #ff9900; */
    background:linear-gradient(#ff6600, #ff9900);
    padding: 15px 40px;
    border-radius: 15px;
    color: #fff;
    font-weight: normal;
}

/* colorはこちらで定義しないと上書きされない（優先度・詳細度の関係） */
.main-nav .button{
    color: #fff;
}

.border1{
    height: 1px;
    background-color: orangered;
    border: none;
}

/* フッター */
footer{
    background-color: black;
    color: #fff;
    padding: 30px 0;
}
.footer-content{
    display: flex;
    justify-content: space-between;
}
.footer-link{
    display: flex;
    justify-content: space-between;
}
.footer-link li{
    list-style: none;
    margin-left: 30px;
}
.footer-link a{
    color: #fff;
}

/* ヘッドライン１ */
#headline-1{
    background-image: url(../images/bg_main_pc.jpg);
}

.headline-1-content{
    padding: 30px 0 50px;
}

.headline-1-title{
    color:red;
    font-size: 2rem;
}
.company-explanation{
    margin-top: 30px;
    font-size: 1.5rem;
}

.headline-1-content .logo{
    margin-top: 15px;
}

.headline-1-content .button{
    font-size: 1.3rem;
}
.headline-1-content p{
    margin-top: 30px;
}

/* LeadCloudの特徴 */
#feature{
    padding: 70px 0 100px;
}
.wave{
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}
.feature-grid{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.feature-grid .item{
    text-align: center;
    font-weight: bold;
}
.item span{
    color: red;
}