@charset "UTF-8";

html{
    /* 最上位層のhtmlのfont-sizeを100%にすると
    ブラウザの状態や種類によって勝手に変わってくれる。
     */
    font-size: 100%;
}
body{
    font-family: "Yu Gothic Medium", "游ゴシック Medium", "YuGothic", "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color: #432;
    /*bodyのfont-sizeは指定されていない。 この場合デフォルト値？
    htmlタグのfont-sizeと同じ？
     */
}
a{
    /* テキストの装飾をしない=>デフォルト?だと下線が引いてある */
    text-decoration: none;
}
img{
    max-width: 100%;
}
.logo{
    width: 210px;
    margin-top: 14px;
}
.main-nav{
    display: flex;
    font-size: 1.25px;
    /* text-trandformは文字の大文字小文字変換に用いられる */
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}
.main-nav li{
    margin-left: 36px;
}
.main-nav a{
    color: #432;
}
/* hoverはなんだ？挙動を見ると、テキストにカーソルを合わせると設定した色に変化した 
＝＞マウスポインタをリンクに重ねた状態らしい*/
.main-nav a:hover{
    color: #0bd;
}
.page-header{
    display: flex;
    justify-content: space-between;
}
.wrapper{
    max-width: 1100px;
    /* 下記のコマンドは中央に配置する指定 */
    margin: 0 auto;
    /* スマートフォン向けの余白の指定 */
    padding: 0 4%;
}
/* home
 */
 .home-content{
    /* alignとは英語で「整列する」 */
    text-align: center;
    margin-top: 10%;
 }
 .home-content p{
    /* htmlタグのfont-sizeの1.125倍
     */
    font-size: 1.125rem;
    margin: 10px 0 42px;
 }
 /* 見出し */
 .page-title{
    /* htmlタグのfont-sizeの5倍
    */
    font-size: 5rem;
    font-family: "Philosopher", serif;
    text-transform: uppercase;
    /* 公式ではfont-weightの初期値はnormalであるのに
    なぜ、下記のように定義する必要があるのか
     */
    font-weight: normal;
 }
 /* ボタン */
 .button{
    font-size: 1.375rem;
    /* backgroundとbackground-colorの違いは？
    => backgroundで指定する場合はcolor以外の要素も並列的に指定できる
    指定していない値はデフォルト値。ここではcolorしか指定していない
    */
    background: #0bd;
    color:#fff ;
    /* border-radiusは境界の外側の角を丸めるプロパティ */
    border-radius: 5px;
    padding:18px 32px;
 }
 .button:hover{
    background: #0090aa;
 }

 /* 大きな背景画像 */
 .big-bg{
    background-size: cover;
    background-position: center top;
 }
 #home{
    background-image: url(../images/main-bg.jpg), linear-gradient(#c9ffbf,#ffafbd);
    min-height: 100vh;
    /* 公式ではtext-transfoemの初期値はnoneであるのに
    なぜ、下記のように定義するのか
    */
    text-transform: none;
    /* background-color: #0bd; */
    background-blend-mode: luminosity;
 }

 /* NEWS
 ------------------------------------ */
 #news{
    background-image: url(../images/news-bg.jpg);
    height: 270px;
    margin-bottom: 40px;
 }
 #news .page-title{
    text-align: center;
 }

 footer{
    background: #432;
    text-align: center;
    padding: 26px 0;
 }
 footer p{
    color: #fff;
    font-size: 0.875rem;
 }

 /* 記事部分 */
 article{
    width: 60%;
    order: 2;
 }
 /* サイドバー */
 aside{
    width: 22%;
    order: 3;
 }
 .ad{
    order: 1;
 }
 .news-contents{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
 }
 .post-info{
    position: relative;
    padding-top: 4px;
    margin-bottom: 40px;
 }
 .post-date{
    background: #0bd;
    border-radius: 50%;
    color: #fff;
    width: 100px;
    height: 100px;
    font-size: 1.625rem;
    text-align: center;
    position: absolute;
    top: 0;
    padding-top: 10px;
 }
 .post-date span{
    font-size: 1rem;
    border-top: 1px rgba(255,255,255,.5) solid;
    padding-top: 6px;
    display: block;
    width: 60%;
    margin: 0 auto;
 }
 .post-title{
    font-family: "Yu Mincho", "YuMincho", serif;
    font-size: 2rem;
    font-weight: normal;
 }
 .post-title,
 .post-cat{
    margin-left: 120px;
 }
 article img{
    margin-bottom: 20px;
 }
 article p{
    margin-bottom: 1rem;
 }
 .sub-title{
    font-size: 1.375rem;
    padding: 0 8px 8px;
    border-bottom: 2px #0bd solid;
    font-weight: normal;
 }
 aside{
    padding:12px 10px
 }
 .sub-menu {
    list-style: none;
    margin-bottom: 60px;
 }
 .sub-menu li{
    border-bottom: 1px #ddd solid;
 }
 .sub-menu a{
    display: block;
    color: #432;
    padding: 10px;
 }
 .sub-menu a:hover{
    color: #0bd;
 }


 /* MENU
 ---------------------------------------- */
 #menu {
    background-image: url(../images/menu-bg.jpg);
    min-height: 100vh;
 }
 .menu-content {
    max-width: 560px !important;/*重要度を明示的に。ただあまり使わない方が。詳細度などもある。*/
    margin-top: 10%;
 }
 .menu-content .page-title{
    text-align: center;
 }
 .menu-content p{
    font-size: 1.125rem;
    margin: 10px 0 0;
 }

 .grid {
    display: grid;
    gap: 26px;
    /* minmax(a,b)は最小値がa,最大値がbを表している */
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin-top: 6%;
    margin-bottom: 50px;
 }
 .big-box {
    grid-column: 1/3;
    grid-row: 1/3;
 }
 .big-box img{
    height: 94%;
    width: 100%;
    object-fit: cover;
 }
 
 /* モバイル版 */
 @media (max-width: 600px) {
    .page-title{
        font-size: 2.5rem;
    }
    /* HEADER */
    .main-nav{
        font-size: 1rem;
        margin-top: 10px;
    }
    .main-nav li{
        margin: 0 20px;
    }
    /* HOME */
    .home-content{
        margin-top: 20%;
    }
    .page-header{
        flex-direction: column;
        align-items: center;
    }
    /* NEWS */
    .news-contents{
        flex-direction: column;
    }
    article,
    aside{
        width: 100%;
    }
    #news .page-title{
        margin-top: 30px;
    }
    aside{
        margin-top: 60px;
    }
    .post-info{
        margin-bottom: 30px;
    }
    .post-date{
        width: 70px;
        height: 70px;
        font-size: 1rem;
    }
    .post-date span{
        font-size: 0.875rem;
        margin-top: 10px;
    }
    .post-title{
        font-size: 1.375rem;
    }
    .post-cat{
        font-size: 0.875rem;
        margin-top: 10px;
    }
    .post-title,
    .post-cat{
        margin-left: 80px;
    }
    /* MENU */
    .menu-content {
        margin-top: 20%;
    }
    .big-box {
        grid-column: auto;
        grid-row: auto;
    }
    .big-box img {
        height: auto;
    }

 }
