@charset "UTF-8";

/* 共通部分 */
html{
    font-size: 100%;
}
body{
    font-family: serif;
    /* 以下忘れていた設定 */
    line-height: 1.7;/*行間が広くなる*/
    color: #432;/*デフォルトの文字色*/
    /* 以上 */
}
a{
    text-decoration: none;
    /*以下のコマンドはmain-navで指示していた。
    他のaタブでも以下のコマンドを実行した方が良いと思ったためここに記述した*/
    text-transform: uppercase;
}

img {
    max-width: 100%;
}

.wrapper{
    max-width: 1100px;
    margin: 0 auto;/*画面の中央に配置するコマンド。なんとなく覚えていた*/
    /*以下忘れていたコマンド。スマートフォン向けの余白の指定*/
    padding: 0 4%;
    /*以上*/
}

/* HEADER */

.main-nav li{
    /*以下のコマンドは書籍では.main-navにおいて定義していたが
    ここでも問題ないだろう
    */
    list-style: none;
    /*以上*/
    margin-left: 36px;
}

.main-nav a:hover{
    color: #0bd;
}

/* img { */
.logo {
    width: 210px;/*ここはチラ見*/
    margin-top: 10px;
}

.home-header{
    display: flex;
    justify-content: space-between;
}

.main-nav{
    display: flex;
    /*以下のコマンドは書籍には記載なかった
    ただあってもなくても挙動は変わらなさそう
    =>というかどのコマンドでも位置は変わらなかった。
    space-between:最初と最後の子要素を両端に配置し、残りの要素は均等に間隔を空けて配置
    space-around:両端の子要素も含め均等に感覚を開けて配置
    center:中央揃え
    flex-end:行末から配置。右揃え
    flex-start(初期値):行の開始位置から配置。左揃え
    */
    justify-content: space-between;
    /*以上*/
    /* 以下のコマンドを忘れた */
    margin-top: 34px;
    /*以上*/
}
.Big-bg{
    background-image: url(../images/main-bg.jpg);
    /* height: 100vh; */
    /*以下のコマンドを忘れていた
    画面中央にマグカップが来なかったのはこのせい
    */
    background-size: cover;
    background-position: center top;
    /*以上*/
}

/* 以下のコマンドを忘れていた 
このコマンドがなかったので画面いっぱいに画像が広がらなかった*/
#home{
    min-height: 100vh;
}
/* 以上 */

.main-content {
    text-align: center;
    /* /* margin-top: 10px;これはなぜ効かない？ */
    /*上のコマンドはpx数が小さすぎた。
    書籍では10%としている*/
    margin-top: 10%;
    line-height: 3;
}

.main-content h2{
    font-size: 3rem;
    font-family: 'Philosopher', serif;/*フォント名みた*/
    /*以下のコマンドを忘れていた*/
    text-transform: uppercase;
    font-weight: normal;
    /*以上*/
}

/*以下のコマンドを忘れていた*/
.main-content p{
    font-size: 1.125rem;
    margin-top: 10px 0 42px;
}
/*以上*/

.button{
    background-color: #0bd;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    /*以下のコマンドを忘れていた*/
    font-size: 1.375rem;
    /*以上*/
}
/*以下のコマンドを忘れていた*/
.button:hover{
    background: #0090aa;
}
/*以上*/

/* NEWS
----------------------------------------------------- */
#news{
    background-image: url(../images/news-bg.jpg);
    height: 300px;
    /* 書籍ではそれぞれのpageのbackgroundを定義するタグに"Big-bg"クラスを定義し、
    以下の2つのプロパティを適用させ、重複して記述しなくても済むようにしていた */
    background-size: cover;
    background-position: center top;
}

.header-page{
    display: flex;
    justify-content: space-between;
}

#news h2{
    text-align: center;
    font-size: 5rem;
    padding-top: 50px;
    text-transform: uppercase;
}

footer{
    background-color: #000000;
    /* heightだと文字が中央に入ってしまう */
    /* height: 50px; */
    padding: 20px 0;
    color: #fff;
}
footer p{
    text-align: center;
    line-height: 1.7;
}
.news-content{
    display: flex;
    margin:30px 30px;
    /* 以下のコマンドを忘れていた
    これによりメインバーとサイドバーの間に隙間ができる */
    justify-content: space-between;
    /* 以上 */
}

article{
    width:70%;
}
aside{
    width:23%;
}

.post-info{
    position: relative;
    /* margin-top: 30px; */
    margin-bottom: 30px;
}

.post-date{
    position: absolute;
    background-color: #0bd;
    color: #fff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    top: 0;
    text-align: center;
    padding-top: 12px;
    /* padding-left: 25px; */
    font-size: 1.2rem;
}
.post-date span{
    border-top: 1px rgba(255, 255, 255, 0.5) solid;
    display: block;
    /* 以下のコマンドを忘れていた 
    これにより中央の線が短くなった*/
    width: 60%;
    margin: 0 auto;
    /* 以上 */
}

.post-title{
    font-size: 2rem;
}

.post-title,
.post-cat{
    margin-left: 150px;
    line-height: 2;
}
/* 以下はnews-contentのjustify-contentをspace-betweenに設定することで解決 */
/* .news-img{
    width: 90%;
} */
.news-article p{
    margin-top: 10px;
}

.aside-title{
    font-size: 1.2rem;
    border-bottom: #0bd solid;
    margin-bottom: 10px;
}

.category{
    margin-bottom: 30px;
}

.category li{
    list-style: none;
    border-bottom: 1px gray dashed;
    line-height: 3;
}

/* 以下のコマンドを忘れていた */
.category a {
    color: #432;
    padding: 10px;
    display: block;
}
.category a:hover{
    color: #0bd;
}
/* 以上 */
/* @mediaを用いてもレスポンシズ対応ができないと思ったが
実際はviewportの設定をしていなかったのが原因だった。 */
/* 以下はメディアクエリーのやり直し */
@media (max-width:600px){
    .news-content{
        display: flex;
        flex-direction: column;
    }
    /* やはりヘッダークラスは一つのクラスを利用した方が設定時に便利 */
    .home-header{
        /* display: flex; */
        flex-direction: column;
        text-align: center;
        /* justify-content: space-between; */
    }
    .header-page{
        flex-direction: column;
        text-align: center;
    }
    .main-nav li{
        font-size: 0.85rem;
        margin-left: 0;
    }

    .main-nav{
        justify-content: space-around;
    }

    #news h2{
        text-align: center;
        font-size: 2.5rem;
        padding-top: 10px;
        text-transform: uppercase;
    }

    article{
        width: 100%;
        margin-bottom: 30px;
    }
    aside{
        width: 100%;
    }
    .post-date{
        width: 70px;
        height: 70px;
        font-size: 1rem;
    }
    .post-title{
        font-size: 1rem;
    }

    .post-cat{
        font-size: 1rem;
    }    
    .post-title,
    .post-cat{
        margin-left: 80px;
    }
}